.nav {
  grid-area: n;
  background-color: aquamarine;
  padding: 20px;
  width: 150px;
}

.item a {
  color: rgb(95, 95, 95);
  text-decoration: none;
}

.item .active {
  color: gold;
}

.friends {
  font-size: 24px;
  font-weight: bold;
}